.slide-container {
  padding: 5%;
  width: 70%;
  display: inline-block;
  text-align: center;
}

.each-slide > div {
  display: inline-block;
  text-align: center;
}

.each-slide > span {
  text-align: center;
}