.slide-container {
  padding: 1%;
  width: 70%;
  display: inline-block;
  text-align: center;
}

.each-slide > div {
  display: inline-block;
  text-align: center;
}

.each-slide > img {
  text-align: center;
}