#navigation {
  padding-bottom: 3%;
  width: 100%;
}

#header {
  border-bottom: black 1px solid;
  font-size: 300%;
  width: max-content;
  display: inline-block;
  margin-bottom: 0.2%;
}
.tab {
  display: inline-block;
  padding-left: 3%;
  padding-right: 3%;
  font-size: 180%;
}