.bunny {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.bunny img {
  text-align: center;
  height: auto;
  width: 10%;
  padding-right: 3%;
  padding-left: 3%;
  opacity: 0.9;
  cursor: pointer;
}

.bunny span {
  width: max-content;
  border-bottom: white 1px solid;
}

@media screen and (max-width: 400px) {
  .bunny img {
    width: 30%;
  }
}