.bunny {
  display: inline-block;
  text-align: center;
  width: 100%;
}
.bunny img {
  text-align: center;
  height: auto;
  width: 10%;
  padding-right: 3%;
  padding-left: 3%;
}

.bunny span {
  width: max-content;
  border-bottom: white 1px solid;
}