body {
  background-color: #ADC4CF;
  font-family: 'Libre Baskerville', serif;
  text-align: center;
}

.main-container {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: white 3px solid;
}

.main-content{
  margin-top: 30%;
}